<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register form</title>
    </head>
    <body>
        <form action="/register_page" method="post">
        <h2>Register form</h2>
        <label for="uname">User name:</label>
        <input type="text" id="uname" name="uname"><br><br>

        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>

        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>

        <label for="spword">Set password:</label>
        <input type="password" id="spword" name="spword"><br><br>

        <label for="cpword">Confirm password:</label>
        <input type="password" id="cpword" name="cpword"><br><br>

        <input type="submit" value="Register">
        </form>
    </body>
</html>